body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}


header {
    background: rgb(35, 175, 175); 
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    width: 40%;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-right: 2em;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}  

nav a:hover {
    color: rgb(255, 255, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}